<!DOCTYPE html>
<html>
  <head>
    <title>Siren</title>
    <%= csp_meta_tag %>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track": "reload" %>
  </head>
  <body>
    <%= render "header" %>
    <%= yield %>
    <%= render "footer" %>
  </body>
</html>
